{% import "partials/_mixins.njk" as mixins %}
{% from "partials/header/header.njk" import headerBlock %}
{% extends "layouts/base.njk" %}

{% block header %}
  {{ headerBlock(
    headerClass = "",
    container = false,
    firstBlockMargin = "-margin-sm",
    textColor = "text-white",
    bgColor = "",
    logoClass = "text-white",
    iconsClass = ""
  ) }}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}

  <section class="no-page">
    <div data-parallax="0.6" class="no-page__bg">
      <div data-parallax-target class="bg-image js-lazy" data-bg="img/backgrounds/6.jpg"></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-8 col-md-10">
          <div class="no-page__content">
            <h1 class="no-page__title text-white">404</h1>
            <p class="no-page__text text-white mt-8">Oops! That page can’t be found.</p>
            <div class="no-page__button mt-64 md:mt-48">
              <a data-barba href="#" class="button -md -accent text-white">BACK TO HOMEPAGE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
