{% import "partials/_mixins.njk" as mixins %}
{% from "partials/page-header.njk" import pageHeader %}
{% from "partials/page-header.njk" import pageHeader %}
{% from "partials/header/header.njk" import headerBlock %}
{% extends "layouts/base.njk" %}

{% block header %}
  {{ headerBlock(
    headerClass = "",
    container = false,
    firstBlockMargin = "-margin-sm",
    textColor = "text-white",
    bgColor = "",
    logoClass = "text-white",
    iconsClass = ""
  ) }}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block content %}

  {{ pageHeader({
    img: 'img/backgrounds/6.jpg',
    title: 'Contact Us',
    subtitle: 'Explore the features'
  }) }}


  <section class="layout-pt-lg layout-pb-xl md:pb-64">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-xl-7 col-lg-7 z-1">
          <div id="map" class="map ratio ratio-1:1"></div>
        </div>

        <div class="col-xl-4 col-lg-4 offset-lg-1">
          <div class="md:pt-40 md:pb-40">
            <div class="sectionHeading -left-line">
              <span class="sectionHeading__subtitle">OUR CONTACT DETAILS</span>
              <h2 class="sectionHeading__title">Let's Start a Project</h2>
            </div>
  
            <div class="text-sm text-black leading-4xl mt-48 md:mt-16">
              <p>T: +1 333 436 1747</p>
              <p>M: hi@hellix.com</p>
              <br>
              <p>A: PO Box 16122 Collins Street West</p>
              <p>Victoria 8007 Australia</p>
            </div>
            
            <div class="sectionHeading__button mt-24 md:mt-20">
              <a data-barba href="#" class="button -simple text-black">GET DIRECTIONS</a>
            </div>
  
            <div class="socialsSection mt-24">
              <a data-barba href="#" class="text-accent">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a data-barba href="#" class="text-accent">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a data-barba href="#" class="text-accent">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a data-barba href="#" class="text-accent">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-7 col-lg-7 offset-lg-5 z-5">
          <div class="mt-minus-xl md:mt-0">
            <div class="sectionHeading -left-line bg-dark py-48 px-48">
              <span class="sectionHeading__subtitle text-white">CONTACT FORM</span>
              <h2 class="sectionHeading__title text-white">Send a Message</h2>
              
              <form class="-light row" action="#">
                <div class="col-12">
                  <textarea name="comment" id="comment" placeholder="Your Comment" rows="5"></textarea>
                </div>
                <div class="col-12 mt-20">
                  <input type="text" name="userName" placeholder="Your Name">
                </div>
                <div class="col-12 mt-20">
                  <input type="text" name="email" placeholder="Your Email">
                </div>
                <div class="col-12 mt-20">
                  <input type="text" name="userName" placeholder="Website">
                </div>

                <div class="col-12 mt-32">
                  <button type="submit" name="submit" id="submit" class="button -md -accent text-white">
                    SEND MESSAGE
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
