{% import "partials/_mixins.njk" as mixins %}
{% from "partials/header/header-2.njk" import headerType2 %}
{% extends "layouts/base.njk" %}

{% block backgroundColor %}
  bg-black pattern_bg_2
{% endblock %}

{% block header %}
  {{ headerType2(
    headerClass = "-no-pad",
    container = true,
    firstBlockMargin = "-margin-sm",
    textColor = "text-white",
    bgColor = "bg-black",
    logoClass = "text-white",
    iconsClass = ""
  ) }}
{% endblock %}

{% block mainClass %}
  has-topbar
{% endblock %}

{% block topbar %}
  {% include "partials/top-bar.njk" %}
{% endblock %}

{% block footer %}
  {% include "partials/footer-black.njk" %}
{% endblock %}

{% block content %}


  <section class="mainSlider -type-2 swiper-container js-mainSlider-type-2">
    <div class="swiper-wrapper">
      {% for item in range(0,3) %}
        <div class="swiper-slide">
          <div data-parallax="0.6" class="mainSlider__image" data-swiper-parallax="40%">
            <img data-parallax-target class="swiper-lazy" src="img/main-sliders/home-2/{{ loop.index }}.jpg" alt="Slider image">
          </div>

          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-10 col-md-11">
                <div class="mainSlider__content text-center js-content">
                  <div data-split="lines" {% if loop.index == 1 %}data-anim="split-lines"{% endif %} class="js-title-wrap">
                    <h1 class="mainSlider__title text-white js-title">
                      The House of The<br><span>Narrative Art</span>
                    </h1>
                  </div>

                  <div class="mainSlider__text text-sm uppercase text-white mt-16 js-text">
                    <p>our philisophy in simply and quality design</p>
                  </div>

                  <div class="mainSlider__button mt-32 js-button">
                    <a data-barba href="#" class="button -md -accent text-white">
                      Read more
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="mainSlider-nav js-nav">
      <div class="-prev js-nav-prev">prev</div>
      <div class="-next js-nav-next">next</div>
    </div>

    <div class="mainSlider-pagination js-pagination"></div>
  </section>


  <section class="layout-pb-sm mt-minus-90 overflow-visible z-2">
    <div class="container">
      <div class="row y-gap-32">
        {% for item in [
          { title: 'Planning' },
          { title: 'Interior' },
          { title: 'Architecture' },
          { title: 'Construction' }
        ] %}
          <div class="col-lg-3 col-md-6">
            <div data-anim="slide-up delay-{{ loop.index }}" class="service -image -hover">
              <div class="service__image">
                <div class="ratio ratio-3:4 bg-image js-lazy" data-bg="img/services/cards/{{ loop.index }}.png"></div>
              </div>

              <div class="service__content px-30 py-30 bg-dark">
                <h3 class="service__title text-white">{{ item.title }}</h3>
                <p class="service__text text-light">Cum sociis Theme natoque penatibus et magnis dis</p>

                <div class="service__button">
                  <a data-barba href="#" class="button -simple text-beige-dark">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section class="layout-pt-sm">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="pr-80 md:pr-0">
            <div data-anim="img-right img-cover-black" class="ratio ratio-4:3 bg-image js-lazy" data-bg="img/backgrounds/3.jpg"></div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="accordion -simple -light js-accordion md:mt-32">
            {% for item in [
              { title: 'What is 3D rendering?' },
              { title: 'Should I buy Revit 2021?' },
              { title: 'Are there any discounts included?' },
              { title: 'What is moodboard?' }
            ] %}
              <div class="accordion__item">
                <div class="accordion__button text-white">
                  <button class="text-lg md:text-base fw-600 text-white">{{ item.title }}</button>
                  <div class="accordion__icon">
                    <i class="icon" data-feather="plus"></i>
                    <i class="icon" data-feather="minus"></i>
                  </div>
                </div>
                <div class="accordion__content">
                  <div class="accordion__content__inner">
                    <p class="text-sm text-light">The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles and architecture. Even if you don’t have a ready sketch of what you want – we will help you to get the result you dreamed of.</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="layout-pt-md layout-pb-md">
    <div class="container">
      <div class="row justify-content-between">
        {% for item in [
          { number: 532, title: 'happy<br>Clients' },
          { number: 48, title: 'Years of<br>Experience' },
          { number: 76, title: 'Awards<br>Winning' },
          { number: 19, title: 'Office<br>Worldwide' }
        ] %}
          <div class="col-lg-auto col-md-6">
            <div data-anim="slide-up" class="counter -light">
              <div class="counter__back">
                {{ item.number }}
              </div>

              <div class="counter__content">
                <div class="counter__number text-white">{{ item.number | safe }}</div>
                <h5 class="counter__title text-white">{{ item.title | safe }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section class="layout-pt-md layout-pb-md bg-dark">
    <div class="container">
      <div class="section-filter">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="sectionHeading -left-line">
              <span class="sectionHeading__subtitle">PROJECTS</span>
              <h2 class="sectionHeading__title text-white">Featured Works</h2>
            </div>
          </div>

          <div class="col-auto">
            <div class="filter-button-group fw-500 mt-32">
              <button class="button text-white mr-20 btn-active" data-filter="*">All</button>
              <button class="button text-white mr-20" data-filter=".modeling">3d Modeling</button>
              <button class="button text-white mr-20" data-filter=".architecture">Architecture</button>
              <button class="button text-white mr-20" data-filter=".buildings">Buildings</button>
              <button class="button text-white mr-20" data-filter=".living_room">Living Room</button>
            </div>
          </div>
        </div>
        
        <div class="masonry -gap-32 -col-3 layout-pt-sm js-masonry js-masonry-no-filter">
          <div class="masonry__sizer"></div>
          
          {% for item in masonryGrid_4 -%}
            <div class="masonry__item -r-120 {{ item.filter }}">
              <div class="portfolioCard -type-1 -hover -zoom ratio">
                <div class="portfolioCard__img">
                  <div
                    data-anim="img-right cover-dark-1 delay-1"
                    class="portfolioCard__img__inner"
                  >
                    <div class="bg-image js-lazy" data-bg="img/portfolio/cards/{{ loop.index }}.jpg"></div>
                  </div>
                </div>
    
                <div class="portfolioCard__content px-30 py-30">
                  <span class="portfolioCard__category text-sm uppercase text-beige-dark">LIVING</span>
                  <h3 class="portfolioCard__title text-lg fw-600 mt-8">London Apartments</h3>
                </div>
    
                <a data-barba href="{{ item.link }}" class="portfolioCard__link"></a>
              </div>
            </div>
          {% endfor -%}
        </div>
      </div>
    </div>
  </section>


  <!-- section start -->
  <section class="layout-pt-lg layout-pb-lg bg-black">
    <!-- container start -->
    <div class="container relative">

      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="sectionHeading -top-line text-center">
            <span class="sectionHeading__subtitle">TESTIMONIALS</span>
            <h2 class="sectionHeading__title text-white">What People Say</h2>
          </div>
        </div>
      </div>


      <div
        class="sectionSlider overflow-hidden layout-pt-sm js-sectionSlider"
        data-slider-col="base-1 lg-1 md-1 sm-1"
        data-pagination
        data-loop
      >
        <div class="swiper-wrapper">
          {% for item in range(0,4) -%}
            <div class="swiper-slide">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                  <div class="testimonials text-center">
                    <p class="testimonials__comment fw-400 text-lg sm:text-sm leading-4xl text-light">
                      “Ipsum dolor sit amet, consectetur adipiscing elit. Fringilla vel tincidunt ipsum ac. Nam at et id leo pulvinar egestas mi lorem. Adipiscing felis, vel faucibus in. Hendrerit viverra elementum  venenatis pellentesque pellentesque ornare“
                    </p>

                    <div class="testimonials__author mt-48">
                      <div class="size-3xl mx-auto mb-20">
                        <div
                          class="bg-image rounded-full swiper-lazy"
                          data-background="img/avatars/{{ loop.index }}.png"
                        ></div>
                      </div>

                      <span class="text-sm fw-400 uppercase text-beige-dark">FINANCE MANAGER</span>
                      <h5 class="text-sm fw-400 text-white mt-8">Helena Gibbson</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor -%}
        </div>

        <div class="nav -slider lg:d-none">
          <div data-cursor class="nav__item -left js-prev">
            <i class="icon icon-left-arrow"></i>
          </div>

          <div data-cursor class="nav__item -right js-next">
            <i class="icon icon-right-arrow"></i>
          </div>
        </div>

        <div class="pagination -slider mt-48 js-pagination"></div>
      </div>

    </div>
    <!-- container end -->
  </section>
  <!-- section end -->


  <!-- blog -->
  <section class="layout-pt-lg layout-pb-lg bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <div class="sectionHeading -left-line">
            <span class="sectionHeading__subtitle">BLOG</span>
            <h2 class="sectionHeading__title text-white">Latest News</h2>
          </div>
        </div>
      </div>

      <div class="row y-gap-32 layout-pt-sm">
        {% for item in range(0,3) %}
          <div class="col-lg-4 col-md-6">
            <div data-anim-wrap class="blog -hover">
              <a data-barba href="#">
                <div class="blog__image">
                  <div data-anim-child="img-right cover-black">
                    <div>
                      <div class="ratio ratio-41:35">
                        <img class="ratio-img" src="img/blog/{{ loop.index }}.jpg" alt="blog image">
                      </div>
                    </div>
                  </div>
                  <div class="blog__category">Interior</div>
                </div>
              </a>

              <div class="blog__content mt-20">
                <div data-anim-child="slide-up delay-6" class="blog__info">
                  <a class="text-light" href="#">APRIL 06, 2021</a>
                  <a class="text-light uppercase" href="#">Floyd Miles</a>
                </div>

                <div data-anim-child="slide-up delay-7">
                  <h3 class="blog__title text-white pr-80 lg:pr-0">Nordic style, interior style for simple life</h3>
                </div>

                <div data-anim-child="slide-up delay-8">
                  <a data-barba href="#" class="blog__button button -simple text-beige-dark">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  
  <!-- cta -->
  <section class="layout-pt-md layout-pb-md bg-beige-dark">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <div class="cta">
            <h2 class="cta__title text-white">
              Get Incredible Interior Design Right Now!
            </h2>

            <p class="cta__text text-white col-xl-7 px-0 md:mt-8">
              Lorem ipsum dolor sit amet messa. consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </div>
        </div>

        <div class="col-auto">
          <div class="md:mt-24">
            <a data-barba href="#" class="button -md -white">Start my project</a>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
