{% import "partials/_mixins.njk" as mixins %}
{% from "partials/header/header.njk" import headerBlock %}
{% extends "layouts/base.njk" %}

{% block header %}
  {{ headerBlock(
    headerClass = "",
    container = false,
    firstBlockMargin = "-margin-sm",
    textColor = "text-white",
    bgColor = "",
    logoClass = "text-white",
    iconsClass = ""
  ) }}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block content %}


  <!-- masthead -->
  <section class="masthead swiper-container js-slider">
    <div class="swiper-wrapper">
      {% for item in [
        'The House of The<br><span>Narrative Art</span>',
        'Catch seafood<br><span>Restaurant</span>',
        'Re Future<br><span>Clinic</span>'
      ] %}
        <div class="swiper-slide">
          <div data-parallax="0.6" class="masthead__image" data-swiper-parallax="40%">
            <img data-parallax-target class="swiper-lazy" src="img/main-sliders/home-1/{{ loop.index }}.jpg" alt="Slider image">
          </div>

          <div class="container-fluid h-100 px-32">
            <div class="row align-items-center">
              <div class="col-lg-10 offset-lg-2 offset-md-1">
                <div class="masthead__content js-content">
                  <div data-split="lines" {% if loop.index == 1 %}data-anim="split-lines"{% endif %} class="js-title-wrap">
                    <h1 class="masthead__title text-white js-title">
                      {{ item | safe }}
                    </h1>
                  </div>
                  <div class="masthead__button js-button">
                    <a data-barba href="#" class="button -simple text-white">
                      VIEW PROJECT
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="masthead__pagination_numbers js-pag-numbers lg:d-none">
      <span class="js-current"></span>
      <span>/</span>
      <span class="js-all"></span>
    </div>

    <div class="masthead__socials js-socials md:d-none">
      <div data-anim="slide-up" class="masthead__socials_item">
        <a class="text-white" href="#">.Facebook</a>
        <a class="text-white" href="#">.Instagram</a>
        <a class="text-white" href="#">.Twitter</a>
        <a class="text-white" href="#">.Behance</a>
      </div>
    </div>

    <div class="masthead-pagination js-pag">
      <div data-cursor class="masthead-pagination__item is-active js-pag-item">
        <span class="masthead-pagination__number">01</span>
        <h4 class="masthead-pagination__title md:d-none">The House of The<br>Narrative Art</h4>
        <span class="masthead-pagination__line"></span>
      </div>

      <div data-cursor class="masthead-pagination__item js-pag-item">
        <span class="masthead-pagination__number">02</span>
        <h4 class="masthead-pagination__title md:d-none">Catch seafood<br>Restaurant</h4>
        <span class="masthead-pagination__line"></span>
      </div>

      <div data-cursor class="masthead-pagination__item js-pag-item">
        <span class="masthead-pagination__number">03</span>
        <h4 class="masthead-pagination__title md:d-none">Re Future<br>Clinic</h4>
        <span class="masthead-pagination__line"></span>
      </div>
    </div>

    <div class="masthead__scroll js-scroll md:d-none">
      <div class="masthead__scroll_item">
        Scroll
        <div class="masthead__scroll_icon">
          <i class="icon icon-right-arrow"></i>
        </div>
      </div>
    </div>
  </section>


  <!-- about -->
  <section class="layout-pt-lg overflow-visible z-2">
    <div class="container">
      <div data-anim-wrap class="row align-items-center">
        <div class="col-xl-5 col-lg-6 col-md-10">
          <div class="aboutBack sm:d-none">
            <img src="img/general/large-logo.svg" alt="logo">
          </div>

          <div data-anim-child="slide-right delay-8" class="sectionHeading -left-line -about pr-12 lg:pr-0">
            <span class="sectionHeading__subtitle">OUR STORY</span>
            <h2 class="sectionHeading__title">Welcome To Hellix Architecture & Interior</h2>
            <p class="sectionHeading__text">The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our customers by lightning-fast development of projects employing unique styles and architecture. Even if you don’t have a ready sketch of what you want – we will help you to get the result you dreamed of.</p>
            
            <div class="sectionHeading__button">
              <a data-barba href="#" class="button -md -dark text-white">DISCOVER MORE</a>
            </div>
          </div>
        </div>

        <div class="col-xl-7 col-lg-6">
          <div class="overlayImgs md:mt-60">
            <div data-anim-child="img-right cover-black" class="overlayImgs__back">
              <img src="img/backgrounds/7.jpg" alt="Image">
            </div>

            <div data-anim-child="img-right cover-black delay-3" class="overlayImgs__front -border">
              <img src="img/backgrounds/2.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- counter -->
  <section class="layout-pt-md layout-pb-md bg-grey pattern_bg_1">
    <div class="container">
      <div class="row justify-content-between md:pt-48">
        {% for item in [
          { number: 532, title: 'happy<br>Clients' },
          { number: 48, title: 'Years of<br>Experience' },
          { number: 76, title: 'Awards<br>Winning' },
          { number: 19, title: 'Office<br>Worldwide' }
        ] %}
          <div class="col-lg-auto col-md-6">
            <div class="counter">
              <div class="counter__back">
                {{ item.number }}
              </div>

              <div class="counter__content">
                <div class="counter__number text-black">{{ item.number | safe }}</div>
                <h5 class="counter__title text-black">{{ item.title | safe }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- services -->
  <section class="layout-pt-lg layout-pb-lg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sectionHeading -top-line text-center">
            <span class="sectionHeading__subtitle">WHAT CAN WE OFFER</span>
            <h2 class="sectionHeading__title">Our Services</h2>
          </div>
        </div>
      </div>

      <div class="row y-gap-32 layout-pt-sm">
        {% for item in [
          { icon: 'icon-pencil', title: 'Architecture & Interior' },
          { icon: 'icon-rocket', title: 'Project Planning' },
          { icon: 'icon-cube', title: 'Product Design' },
          { icon: 'icon-idea', title: 'Custom Solutions' }
        ] %}
          <div class="col-lg-3 col-md-6">
            <div data-anim="slide-up" class="service -card -hover">
              <div class="service__content -border">
                <div class="service__icon">
                  <i class="icon {{ item.icon }} text-beige"></i>
                </div>

                <h3 class="service__title mt-20">{{ item.title }}</h3>
                <p class="service__text">Aenean commodo nec ligula eget cum sociis dolor.</p>

                <div class="service__button">
                  <a data-barba href="#" class="button -simple text-black">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- portfolio -->
  <section class="layout-pb-lg">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-auto">
          <div class="sectionHeading -left-line">
            <span class="sectionHeading__subtitle">PROJECTS</span>
            <h2 class="sectionHeading__title">Featured Works</h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-center layout-pt-sm">
        <div class="col-lg-8">
          <div
            class="sectionSlider js-sectionSlider"
            data-gap="30"
            data-slider-col="base-1 lg-1 md-1 sm-1"
            data-center
            data-loop
            data-pagination
            data-cursor
            data-cursor-label="DRAG"
          >

            <div class="sliderNav -portfolio-slider js-nav">
              <button class="sliderNav__item -prev js-prev">PREV</button>
              <button class="sliderNav__item -next js-next">NEXT</button>
            </div>

            <div class="swiper-wrapper">
              {% for item in range(0,3) %}
                <div class="swiper-slide">
                  <a data-barba data-cursor data-cursor-label="DRAG" href="#" class="portfolio">
                    <div class="portfolio__image">
                      <div class="ratio ratio-16:9">
                        <img class="ratio-img swiper-lazy" src="#" data-src="img/portfolio/wide/{{ loop.index }}.jpg" alt="project image">
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                    </div>

                    <div class="portfolio__content text-center">
                      <span class="portfolio__category">BUILDINGS</span>
                      <h3 class="portfolio__title">Pensacola Cityblock</h3>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>

            <div class="pagination -slider mt-48 js-pagination"></div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- cta -->
  <section class="layout-pt-md layout-pb-md bg-beige-dark">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <div class="cta">
            <h2 class="cta__title text-white">
              Get Incredible Interior Design Right Now!
            </h2>

            <p class="cta__text px-80 lg:px-0 text-white">
              Lorem ipsum dolor sit amet messa. consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>

            <div class="cta__button">
              <a data-barba href="#" class="button -md -white">Start my project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- circle counter -->
  <section class="layout-pt-lg layout-pb-lg bg-dark-img pattern_bg_2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="sectionHeading -top-line text-center">
            <span class="sectionHeading__subtitle">OUR SKILLS</span>
            <h2 class="sectionHeading__title text-white">The Core Company Values</h2>
          </div>
        </div>
      </div>

      <div class="row justify-content-center justify-content-md-between y-gap-48 layout-pt-sm">
        {% for item in [
          { num: '95', title: 'Illustration' },
          { num: '50', title: 'Interior Design' },
          { num: '100', title: 'Architecture' },
          { num: '75', title: '3D Modeling' }
        ] %}
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-5">
            <div class="pieChart text-center" data-percent="{{ item.num }}" data-anim="pie-chart">
              <div class="pieChart__chart">
                <svg viewBox="0 0 75 75">
                  <circle cx="50%" cy="50%" r="35" class="pieChart__back"></circle>
                  <circle cx="50%" cy="50%" r="35" class="pieChart__bar bar-stroke-hidden js-chart-bar"></circle>
                </svg>
                <div class="pieChart__percent text-white js-chart-percent">0%</div>
              </div>
  
              <div class="pieChart__content">
                <h4 class="pieChart__title text-white">
                  {{ item.title }}
                </h4>
                <p class="pieChart__text text-white">
                  Lorem ipsum dolor amet sociis dolor.
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- team -->
  <section class="layout-pt-lg layout-pb-lg">
    <div class="container">
      <div class="row justify-content-center md:justify-content-start">
        <div class="col-auto">
          <div class="sectionHeading -top-line -md text-center md:text-left">
            <span class="sectionHeading__subtitle">PROFESSIONALS</span>
            <h2 class="sectionHeading__title">Our Team</h2>
          </div>
        </div>
      </div>

      
      <div class="row layout-pt-sm">
        <div
          class="sectionSlider overflow-hidden sm:px-16 js-sectionSlider"
          data-gap="30"
          data-slider-col="base-4 lg-3 md-2 sm-2"
          data-pagination
        >

          <div class="swiper-wrapper">
            {% for item in [1,2,3,4,1,2,3,4] %}
              <div class="swiper-slide">
                <div class="team -hover">
                  <div data-anim="img-right cover-black" class="team__image">
                    <div>
                      <div class="ratio ratio-3:4 bg-image js-lazy" data-bg="img/team/{{ item }}.png"></div>
                    </div>
                  </div>
    
                  <div class="team__content">
                    <div class="team__socials">
                      <a data-barba href="#" class="text-white">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a data-barba href="#" class="text-white">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a data-barba href="#" class="text-white">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                      <a data-barba href="#" class="text-white">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </div>
    
                    <div class="md:d-none">
                      <div class="team__info">INTERIOR DESIGNER</div>
                      <h3 class="team__title text-white">Jenny Wilson</h3>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="nav -slider lg:d-none">
            <div class="nav__item -left js-prev">
              <i class="icon icon-left-arrow"></i>
            </div>

            <div class="nav__item -right js-next">
              <i class="icon icon-right-arrow"></i>
            </div>
          </div>

          <div class="pagination -slider mt-48 js-pagination"></div>
        </div>
      </div>

    </div>
  </section>


  <!-- blog -->
  <section class="layout-pt-lg layout-pb-lg bg-beige-light">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <div class="sectionHeading -left-line">
            <span class="sectionHeading__subtitle">BLOG</span>
            <h2 class="sectionHeading__title">Latest News</h2>
          </div>
        </div>
      </div>

      <div class="row y-gap-32 layout-pt-sm">
        {% for item in range(0,3) %}
          <div class="col-lg-4 col-md-6">
            <div data-anim-wrap class="blog -hover">
              <a data-barba href="#">
                <div class="blog__image">
                  <div data-anim-child="img-right cover-black">
                    <div>
                      <div class="ratio ratio-41:35">
                        <img class="ratio-img" src="img/blog/{{ loop.index }}.jpg" alt="blog image">
                      </div>
                    </div>
                  </div>
                  <div class="blog__category">Interior</div>
                </div>
              </a>

              <div class="blog__content mt-20">
                <div data-anim-child="slide-up delay-6" class="blog__info">
                  <a data-barba href="#">APRIL 06, 2021</a>
                  <a data-barba href="#">Floyd Miles</a>
                </div>

                <div data-anim-child="slide-up delay-7">
                  <a data-barba href="#">
                    <h3 class="blog__title text-black pr-80 lg:pr-0">Nordic style, interior style for simple life</h3>
                  </a>
                </div>

                <div data-anim-child="slide-up delay-8">
                  <a data-barba href="#" class="blog__button button -simple text-black">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <!-- clients -->
  <section class="layout-pt-md layout-pb-md">
    <div class="container">
      <div class="row y-gap-32 justify-content-between align-items-center">
        {% for item in range(0,6) %}
          <div class="col-lg-auto col-md-auto col-6">
            <div class="clients">
              <div class="clients__image">
                <img src="img/clients/{{ loop.index }}.png" alt="clients image">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>


{% endblock %}
