{% import "partials/_mixins.njk" as mixins %}
{% from "partials/page-header.njk" import pageHeader %}
{% from "partials/header/header.njk" import headerBlock %}
{% extends "layouts/base.njk" %}

{% block header %}
  {{ headerBlock(
    headerClass = "",
    container = false,
    firstBlockMargin = "-margin-sm",
    textColor = "text-white",
    bgColor = "",
    logoClass = "text-white",
    iconsClass = ""
  ) }}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block content %}

  {{ pageHeader({
    img: 'img/backgrounds/6.jpg',
    title: 'Team',
    subtitle: 'EXPLORE THE FEATURES'
  }) }}


  <section class="layout-pt-md layout-pb-md">
    <div class="container">
      <div class="row y-gap-32">
        {% for item in [1,2,3,4,4,3,2,1,1,2,3,4] %}
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="team -hover">
              <div data-anim="img-right cover-black" class="team__image">
                <div class="ratio ratio-3:4 bg-image js-lazy" data-bg="img/team/{{ item }}.png"></div>
              </div>

              <div class="team__content">
                <div class="team__socials">
                  <a data-barba href="#" class="text-white">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a data-barba href="#" class="text-white">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a data-barba href="#" class="text-white">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a data-barba href="#" class="text-white">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </div>

                <div class="md:d-none">
                  <div class="team__info">INTERIOR DESIGNER</div>
                  <h3 class="team__title text-white">Jenny Wilson</h3>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
